* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    color: #3a3a3a;
    background: url("../images/background.jpg");
}
.container {
    width: 980px;
    margin: 47px auto;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.container-inner {
    width: 940px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px dotted #202021;
}
.footer-inner {
    width: 940px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    overflow: hidden;
    padding-bottom: 28px;
}
.header {
    height: 94px;
    margin-right: -3px;
}
.logo {
    width: 241px;
    text-transform: uppercase;
    position: relative;
    padding-top: 28px;
    float: left;
}
.logo a {
    text-decoration: none;
}
.logo .the {
    position: absolute;
    font: 400 15px / 50px Georgia;
    color: #191919;
    top: 8px;
    left: 1px;
}
.logo .red {
    font: 400 30px / 50px Georgia;
    color: #cf0000;
}
.logo .black {
    font: 400 30px / 50px Georgia;
    color: #191919;
}
.menu-block {
    float: left;
    width: 432px;
    margin-top: 55px;
}
.menu-block ul {
    text-align: center;
    float: right;
}
.menu-block ul li {
    position: relative;
    display: inline-block;
    padding: 0 9px 0 10px;
}
.menu-block ul li::before {
    content: '';
    width: 1px;
    height: 11px;
    position: absolute;
    top: 4px;
    left: -3px;
    background: #202021;
}
.menu-block ul li:first-child::before {
    display: none;
}
.menu-block ul li a {
    font: 400 12px Arial;
    color: #cf0000;
    text-decoration: none;
}
.social-block {
    float: left;
    margin: 17px 0 0 17px;
}
.social-btn {
    display: block;
    float: left;
    width: 37px;
    height: 30px;
}
.twitter {
    background: url("../images/twitter.png") 0 0 no-repeat;
}
.fb {
    background: url("../images/fb.png") 0 0 no-repeat;
}
.ok {
    background: url("../images/ok.png") 0 0 no-repeat;
}
.like-btn {
    float: left;
}
.like-btn a {
    float: left;
    display: block;
    height: 22px;
}
.fb-like {
    width: 50px;
    background: url("../images/fb-like.png") 3px 0 no-repeat;
}
.one-like {
    width: 39px;
    background: url("../images/plus1.png") 7px 1px no-repeat;
}
.like-count {
    float: left;
    border: 1px solid #d1d1d1;
    margin-left: 5px;
    margin-top: 3px;
    color: #333333;
    font-size: 11px;
    padding: 2px 0 0 7px;
    width: 21px;
    height: 18px;
    box-sizing: border-box;
    position: relative;
}
.like-count::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent #d1d1d1 transparent transparent;
}
.like-count::after {
    content: '';
    position: absolute;
    top: 4px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent #fff transparent transparent;
}
.search-block {
    margin: 4px 0 0 17px;
    float: left;
}
.search-block input {
    border: 1px solid #bababa;
    width: 217px;
    height: 27px;
    background-color: #f8f8f8;
    position: relative;
    display: block;
    float: left;
}
.search-icon {
    display: block;
    float: left;
    width: 32px;
    height: 28px;
    background-color: red;
    background: url("../images/search-icon.png") 0 0 no-repeat;
}
.main-menu {
    width: 940px;
    height: 45px;
    background: #141617;
    padding-left: 17px;
    box-sizing: border-box;
    margin-bottom: 29px;
}
.main-menu ul li {
    padding: 17px 15px 0 16px;
    display: inline-block;
}
.main-menu ul li a {
    font-family: 'bebasregular';
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.content {
    width: 457px;
    float: left;
    margin-right: 23px;
}
.content-block {
    margin-bottom: 36px;
}
.content-block-header {
    position: relative;
    margin-bottom: 15px;
}
.content-block-inner {
    margin-right: -35px;
    overflow: hidden;
}
.main-content {
    margin-right: -55px;

}
.article-header {
    width: 100%;
    border-bottom: 3px solid #cf0000;
}
.article-header h1 {
    font-family: 'bebasregular';
    font-size: 20px;
    color: #202021;
    text-transform: uppercase;
}
.popular .article-header h1 {
    color: #cf0000;
}
.popular .article-header h1 span {
    color: #202021;
    float: right;
}
.more {
    position: absolute;
    top: 8px;
    left: 396px;
    display: block;
    width: 61px;
    height: 18px;
    background: #cf0000;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font: 700 10px Arial;
    padding: 4px 0 0 12px;
    box-sizing: border-box;
}
.more.desc {
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 27px;
}
.content-item {
    float: left;
    width: 145px;
    margin-right: 11px;
}
.content-item img {
    margin-bottom: 11px;
}
.article-title {
    color: #202021;
    font: 700 12px Arial;
}
.article {
    color: #202021;
    font: 400 12px Arial;
    margin-bottom: 15px;
}
.desc-block {
    padding-bottom: 22px;
    margin-bottom: 20px;
}
.desc-block .article {
    margin-bottom: 12px;
}
.read-more-link {
    font: 700 10px Arial;
    color: #cf0000;
    text-transform: uppercase;
    text-decoration: none;
}
.read-more-descs {
    font: 400 10px Arial;
    color: #cf0000;
    text-transform: uppercase;
    text-decoration: none;
}
.hours {
    font: 400 10px Arial;
    color: #202021;
    margin-left: 12px;
}
.gallery img {
    margin: 0 8px 6px 0;
}
.content-block.gallery {
    margin-bottom: 18px;
}

.content-block.tech {
    margin-bottom: 11px;
}
.tech-block {
    float: left;
    margin-top: 6px;
    margin-right: 23px;
    width: 220px;
    padding-bottom: 22px;
    margin-bottom: 10px;
}
.tech-block,
.desc-block {
    border-bottom: 1px dotted #202021;
}
.tech-article-title a {
    text-decoration: none;
    font: 700 15px Arial;
    color: #000000;
}
.comment-block {
    font: 400 11px Arial;
}
.comment-block a {
    text-decoration: none;
}
.author {
    margin-right: 7px;
    color: #cf0000;
}
.comment {
    color: #000000;
    margin-left: 3px;
}
.tech-article {
    color: #202021;
    font: 400 12px Arial;
    height: 29px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tech-block.last {
    border-bottom: none;
}
.desc-header {
    margin-bottom: 13px;
}
.desc-block.last {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 17px;
}
.column {
    width: 190px;
    float: left;
    margin-right: 20px;
}
.sidebar {
    float: left;
    width: 250px;
    margin-right: 33px;
    margin-top: -10px;
}
.sign-up {
    width: 250px;
    height: 212px;
    background: #e4e4e4;
    margin-top: 15px;
    margin-bottom: 21px;
    padding: 16px 0 0 19px;
    box-sizing: border-box;

}
.sign-up input {
    width: 205px;
    height: 26px;
    box-sizing: border-box;
    margin-bottom: 8px;
    margin-left: 3px;
    padding-left: 8px;
}
.sign-up ::-webkit-input-placeholder {
    font: 400 12px Arial;
    color: #202021;
}
.sign-up ::-moz-placeholder {
    font: 400 12px Arial;
    color: #202021;
}
.sign-up :-moz-placeholder {
    font: 400 12px Arial;
    color: #202021;
}
.sign-up :-ms-input-placeholder {
    font: 400 12px Arial;
    color: #202021;
}
.sign-up p {
    font: 400 12px Arial;
    color: #202021;
    margin-bottom: 17px;
}
.sign-up h1 {
    font-family: 'bebasregular';
    font-size: 20px;
    color: #202021;
    text-transform: uppercase;
}
.sign-up p.notice {
    font: 400 12px Arial;
    color: #cf0000;
    margin-top: 9px;
}
.sign-up button {
    width: 101px;
    height: 26px;
    background-color: #cf0000;
    text-transform: uppercase;
    border: none;
    font: 700 13px Arial;
    color: #fff;
    margin: 3px 0 0 3px;
}
.popular-block {
    border-bottom: 1px dotted #202021;
    box-sizing: border-box;
}
.popular-block.last {
    border-bottom: none;
    margin-bottom: -4px;
}
.popular-block .date {
    margin-top: 20px;
    font: italic 11px Arial;
    color: #202021;
}
.popular-title {
    margin-bottom: 22px;
    font: 700 12px Arial;
    color: #202021;
}
.popular-inner {
    margin-top: -4px;
}
.save img {
    margin-top: 13px;
}
.banner {
    width: 728px;
    margin: 0 auto;
    padding: 26px 0 24px;
}
.footer-inner {
    width: 900px;
    margin: 0 auto;
}
.footer-inner p {
    text-align: center;
    font: 400 12px/20px Arial;
    color: #020305;
}
.footer-menu {
    margin: 16px 0 21px 32px;
}
.footer-menu ul li {
    display: inline-block;
    padding: 0 16px 0 17px;
    position: relative;
}
.footer-menu ul li a {
    text-decoration: none;
    font: 400 12px / 20px Arial;
    color: #020305;

}
.footer-menu ul li::before {
    content: '';
    width: 1px;
    height: 12px;
    position: absolute;
    top: 7px;
    left: 1px;
    background: #020305;
}
.footer-menu ul li:first-child::before {
    display: none;
}
.block-title {
    display: block;
    text-decoration: none;
}
.editorial .article-header {
    margin-bottom: 12px;
}
.editorial-block img {
    margin-bottom: 6px;
}
.description a {
    text-decoration: none;
    color: #cf0000;
    font: 700 12px Arial;
}
.description {
    margin-bottom: 10px;
}
