* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #e9e9e9;
}

.header {
    height: 28px;
    background-color: #fff;
    box-shadow: 1px 1px 0px 0.00px rgba(0, 0, 0, 0.07);
    position: fixed;
    width: 100%;
}
/*.footer{*/
    /*height: 28px;*/
    /*background-color: #fff;*/
    /*width: 100%;*/
/*}*/

.container {
    width: 960px;
    margin: 0 auto;
}

.header .menu {
    padding-top: 3px;
}

.header .menu ul li {
    float: left;
}

.header .menu ul li a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 24px;
    color: #535353;
    margin-left: 10px;
}

.social-icons {
    float: right;
}

.social-icons a {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.fb {
    background: url("../images/fb.png");
}

.delicious {
    background: url("../images/delicious.png");
}

.flickr {
    background: url("../images/flickr.png");
}

.friendfeed {
    background: url("../images/friendfeed.png");
}

.tumblr {
    background: url("../images/tumblr.png");

}

.twitter {
    background: url("../images/twitter.png");
}

.logo {
    padding-top: 72px;
    height: 138px;
    box-sizing: border-box;
}

.logo a {
    text-transform: uppercase;
    color: #909090;
    font: 700 38px / 24px 'Roboto Condensed';
}

.main-menu {
    height: 34px;
    background-color: #fff;
    box-shadow: 1px 1px 0px 0.00px rgba(0, 0, 0, 0.07);
    margin-bottom: 15px;
}

.main-menu ul li {
    float: left;
    padding: 6px 7px 0 20px;
}

.main-menu a {
    font: 400 15px / 24px 'Roboto Condensed';
    color: #5c5c5c;
    text-transform: uppercase;
}

.slider {
    height: 283px;
    background: #fff;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.left-sidebar {
    width: 220px;
    float: left;
    margin-right: 15px;
}

.recent-posts {
    margin-bottom: 16px;
}

.recent-posts,
.recent-comments {
    padding: 10px 10px 0 10px;
    background: #fff;
}

.recent-posts h3,
.recent-comments h3 {
    font: 400 15px / 24px 'Roboto Condensed';
    color: #535353;
    border-bottom: 1px dashed #c2c2c2;
    text-transform: uppercase;
    margin-bottom: 9px;
    padding-bottom: 1px;
}

.recent-comments h3 {
    margin-bottom: 13px;
}

.recent-comments {
    margin-bottom: 200px;
    padding-bottom: 2px;
}

.post {
    height: 65px;
    clear: both;
}

.post-image {
    margin: 5px 0 6px 0;
    float: left;

}

.post-info {
    width: 130px;
    float: left;
    margin: 2px 0 0 10px;

}

.post-title {
    height: 33px;
    overflow: hidden;
}

.post-title a {
    font: 400 13px / 17px 'Roboto Condensed';
    color: #717070;

}

.post-comment a {
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    font-size: 9px;
    line-height: 18px;
    color: #7e7e7e;

}

.comments {
    margin-left: 2px;
}

.comment {
    font: 400 13px / 17px 'Roboto Condensed';
    color: #717171;
    margin-bottom: 8px;
}

.comment span {
    font: 400 13px / 17px 'Roboto Condensed';
    color: #2e2d2d;

}

.arrows {
    color: #2e2e2e;

}

.main-block {
    width: 490px;
    float: left;
    margin-right: 15px;
    /*padding: 13px 12px 0 9px;*/
    /*box-sizing: border-box;*/
}

.main-block-1 h2 {
    font: 400 20px / 24px 'Roboto Condensed';
    color: #535353;
    border-bottom: 1px dashed #c2c2c2;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 2px;

}

.links {
    height: 25px;
    border-bottom: 1px dashed #c2c2c2;
    margin-bottom: 14px;
}

.links div {
    float: left;
}

.links a {

    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
    line-height: 20px;
    color: #717171;
}

.calendar {
    width: 73px;
    background: url("../images/calendar.png") 2px 4px no-repeat;
    padding: 0px 0 0 20px;

}

.admin {
    background: url("../images/admin.png") 2px 4px no-repeat;
    padding-left: 18px;
    width: 58px;

}

.links-comment {
    background: url("../images/comment.png") 2px 4px no-repeat;
    padding-left: 21px;
    width: 79px;
}

.permalink {
    background: url("../images/permalink.png") 1px 4px no-repeat;
    width: 20px;
    padding-left: 19px;
}

.main-block-1 img {
    margin-bottom: 9px;
}

.main-block-1 p {
    font: 400 14px / 20px 'Roboto Condensed';
    color: #717171;
    width: 450px;
    border-bottom: 1px dashed #c2c2c2;
    padding-bottom: 16px;
    margin-bottom: 7px;
}

.design {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    line-height: 20px;
    color: #717171;
    background: url("../images/design.png") 3px 3px no-repeat;
    padding-left: 24px;
    padding-bottom: 12px;
}

.main-block-1,
.main-block-2 {
    margin-bottom: 14px;
    background: #fff;

    box-sizing: border-box;
}

.main-block-1 {
    padding: 13px 12px 0 9px;
}

.main-block-2 {
    padding: 10px 11px 0 8px;
}

.main-block-2 h4 {
    font: 400 15px / 24px 'Roboto Condensed';
    color: #535353;
    text-transform: uppercase;
    margin-bottom: 18px;
}

input {
    width: 100%;
    border: none;
    background-color: #e8e8e8;
    height: 30px;
    margin-bottom: 16px;
    padding-left: 9px;
    box-sizing: border-box;
    margin-left: 4px;
}

textarea {
    width: 100%;
    border: none;
    background-color: #e8e8e8;
    padding: 6px 0 0 9px;
    box-sizing: border-box;
    height: 124px;
    margin-bottom: 11px;
    margin-left: 4px;

}

::-webkit-input-placeholder {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #a38d8d;
}

::-moz-placeholder {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #a38d8d;
}

/* Firefox 19+ */
:-moz-placeholder {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #a38d8d;
}

/* Firefox 18- */
:-ms-input-placeholder {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #a38d8d;
}
button{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: linear-gradient(0deg, #93b2c8 0%, #799db9 100%);
    width: 90px;
    height: 30px;
    margin-bottom: 13px;
    font: 700 13px / 24px 'Roboto Condensed';
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #7094b1;
    box-shadow: 0px 1px 2px 0.00px rgba(0, 0, 0, 0.2);
    margin-left: 3px;
}





.right-sidebar {
    width: 220px;
    float: left;
}

.recent-posts,
.recent-comments,
.archives,
.flickr2,
.main-block,
{
    box-shadow: 1px 1px 0px 0.00px rgba(0, 0, 0, 0.12);
}

.archives{
    padding: 10px 10px 13px 10px;
    background: #fff;
    margin-bottom: 14px;

}
.archives h3{
    margin-bottom: 7px;
    padding-bottom: 3px;
    text-transform: uppercase;
    font: 400 15px / 24px 'Roboto Condensed';
    color: #535353;
    border-bottom: 1px dashed #c2c2c2;

}

.archives a{
    display: block;
    font: 400 13px / 25px 'Roboto Condensed';
    color: #717171;
}

.flickr2{
    padding: 7px 10px 7px 10px;
    background: #fff;

}
.flickr2 h3{
    margin-bottom: 15px;
    padding-bottom: 2px;
    text-transform: uppercase;
    font: 400 15px / 24px 'Roboto Condensed';
    color: #535353;
    border-bottom: 1px dashed #c2c2c2;

}

.flickr2 img{
    margin-right: 4px;
    margin-bottom: 6px;
}











