*{
    margin: 0;
    padding: 0;
}
body{

}
.header{
}
.footer{
}
.content{
}
.main-content{
    font: 400 12px / 18px Arial;
    color: #180101;
}
.right-sidebar{
}
.left-sidebar{
    width: 185px;
    height: 800px;

}
.news-link{
    font: 400 16px / 20px PFDinTextCondPro;
    color: #180101;

}
.header-menu{
    font: 700 28px PFDinTextCondPro;
    color: #161616;

}
.header-menu-border{
    width: 3px;
    height: 15px;
    color: rgba(22, 22, 22, 0.2);
}
.footer-menu{
    font: 700 24px PFDinTextCondPro;
    color: #ffffff;
    width: 1440px;
    height: 77px;

}
.contacts-block{
    font: 400 16px / 20px PFDinTextCondPro;
    color: #180101;
    width: 270px;
    height: 192px;
    border: 1px solid #dedede;
}
h2{
    font: 500 24px PFDinTextCondPro;
    color: #180101;
}
.jivosite{
    width: 270px;
    height: 34px;
}
.sertificate-block{
    width: 270px;
    height: 254px;
    border: 1px solid #dedede;
}
.sertificate-block .frame{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);

    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
    background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
    background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
}

.asjdhfladjf{
    font: 400 16px / 20px PFDinTextCondPro;
    color: #180101;
}